* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f1f1f1;
  font-size: 14px;
  font-family: sans-serif;
}

.newStartup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}

.newStartup form {
  position: relative;
  width: 50%;
  height: auto;
  padding: 5rem;
  min-height: 150px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 20px -7px rgba(0, 0, 0, 0.07);
  transition: all 500ms ease-in;
}

.newStartup form input,
.newStartup form textarea {
  outline: 1px solid #3498db;
  border: 1px solid lightgray;
  font-family: sans-serif;
}

.newStartup form .options {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  padding: 1rem;
}

.newStartup form .options button {
  padding: 0.5rem 1rem;
  outline: none;
  border: 1px solid #3498db;
  border-radius: 5px;
  background: #3498db;
  color: white;
  cursor: pointer;
}

.newStartup form .options button.btn-finish {
  animation: btn-finish 200ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

@keyframes btn-finish {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.startupNameForm,
.startupDescriptionForm,
.startupStrategy {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  animation: slide 500ms linear;
}

@keyframes slide {
  from {
    transform: translate(0px, 0);
  }
  50% {
    transform: translate(20px, 0);
  }
  to {
    transform: translate(-0px, 0);
  }
}

.startupNameForm h3 {
  font-size: 18px;
  line-height: 1.5;
  color: #bbb;
}

.startupNameForm input {
  width: 50%;
  padding: 1rem;
  width: 80%;
  border-radius: 5px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.startupNameForm input::placeholder {
  background: #f8f7f7;
  color: gray;
  text-align: center;
  font-size: 20px;
}

.startupDescriptionForm h3,
.startupStrategy .startupStrategy-startupName {
  background: #f8f7f7;
  border: 1px solid lightgray;
  width: 50%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #444444;
  border-radius: 5px;
  font-size: 18px;
}

.startupDescriptionForm textarea {
  /* min-width: 80%; */
  width: 80%;
  max-width: 95%;
  height: 100px;
  min-height: 100px;
  box-sizing: content-box;
  display: inline-block;
  vertical-align: middle;
  padding: 1rem;
  font-size: 20px;
  border-radius: 5px;
}

.startupDescriptionForm textarea::placeholder {
  font-size: 22px;
}

.startupStrategy .startupStrategy-description {
  position: relative;
  background: linear-gradient(#f8f8f8, #f9f9f9);
  border: 1px solid lightgray;
  color: #444444;
  line-height: 1.5;
  width: 80%;
  height: 85px;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
  border-radius: 5px;
  font-size: 18px;
  white-space: pre-line;
}

.startupStrategy .startupStrategy-description::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  width: 100%;
  height: 25px;
  z-index: 5;
  background: linear-gradient(#f9f9f9, #ffffff);
  opacity: 0.9;
}

.startupStrategy .ai-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.startupStrategy .ai-info h3 {
  font-size: 20px;
  color: darkgray;
}

.startupStrategy .ai-info p {
  text-align: center;
  font-weight: 600;
  color: gray;
  line-height: 1.5;
}

.startupStrategy .stragey-options {
  display: flex;
  gap: 2rem;
}

.startupStrategy .stragey-options span {
  padding: 0.5rem 1.5rem;
  color: black;
  background: #f7f7f7;
  border: 1px solid lightgray;
  transform: scale(1.1);
  font-weight: 600;
  border-radius: 3px;
  font-family: sans-serif;
  transition: all 200ms linear;
}

.startupStrategy .stragey-options span:hover,
.startupStrategy .stragey-options span.checked {
  border: 1px solid #3498db;
  background: #3498db;
  color: white;
  cursor: pointer;
  transform: scale(1.15);
}

@media screen and (max-width: 428px) {
  .newStartup form {
    width: 90%;
    padding: 3rem 0;
  }

  .startupNameForm {
    /* background-color: red; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    gap: 2rem;
  }

  .startupNameForm h3 {
    font-size: 16px;
  }

  .startupNameForm input {
    width: 100%;
    font-size: 16px;
  }

  .startupNameForm input::placeholder {
    font-size: 16px;
  }

  .startupStrategy .ai-info {
    width: 80%;
  }

  .startupStrategy .stragey-options {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .startupStrategy .stragey-options span {
    font-size: 12px;
    text-align: center;
  }

  .startupDescriptionForm textarea {
    width: 80% !important;
    margin-bottom: 1rem;
  }
}
